$background-one: #08090D;
$main-color: #C9CEDF;
$accent-one: #FF006B;
$accent-two: #FFE500;
$accent-tree: #08090D;

button{
    --webkit-appearance: none;
    --moz-appearance: none;
}
.brutalistButton {
    margin: 1% 1% 0% 0%;
    border-radius: .7rem;
    border-style: none;
    background-color: $background-one;
    font-size: xx-large;
    margin: 1rem;
    cursor: pointer;
}

.brutalistButton:active {
    transform: translate(-12px, 12px);
    box-shadow: -2px 7px 0px 0px var(--button-outline-color);
}

.yellow{
    box-shadow: -14px 19px 0px 0px $accent-two;
    outline: solid 0.3rem $accent-two;
    color: $accent-two;
}

.red{
    box-shadow: -14px 19px 0px 0px $accent-one;
    outline: solid 0.3rem $accent-one;    
    color: $accent-one;
}