$background-one: #08090D;
$main-color: #C9CEDF;
$secondary-color: #000000;
$accent-one: #FF006B;
$accent-two: #FFE500;
$accent-three: #ffffff;

@mixin card_style {
    color:$main-color;
    border-radius: 2rem;
    text-align: center;
    width: 400px;
}
@mixin card_text {
    margin: 0;
    color:$main-color;
}

@mixin highlight-text-stroke ($Color) {
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $Color;
}
@mixin highlight-text ($Color) {
    color: $Color;
}

@mixin custom-bakcground-0 {
    background-color: #000000;
    opacity: 1;
    background-size: 68px 68px;
    background-position: 0 0,34px 34px;
      }

.card {
    font:"inter";
    box-shadow: -14px 19px 0px 0px $accent-three;
    display: flex;
    flex-direction: column;
    background-color: $background-one;
    padding: 1rem;
    @media screen and (max-width: 1400px) {
        width: 400px;
    }
    @media screen and (max-width: 900px) {
        align-content: center;
        width: 80vw;
        font-size: medium;
        line-height: 1.3;
        column-gap: 1.5rem;
    } 

    @include card_style();
    @include custom-bakcground-0();
}

.group-bellow-title{
    @media screen and (max-width: 900px) {
        display: flex;
        gap: 1rem;
    } 
}
.card-details{
    @media screen and (max-width: 900px) {
        display: flex;
    } 

}
.card-text {
    display: flex;
    text-align: left;

    margin-bottom: 3rem;
    @include card_text();
    @media screen and (max-width: 900px) {
        font-size:small;

    }
}

.card-body{
    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    } 
}
.portfolio span .card-text-color-info {
    @media screen and (max-width: 900px) {
        font-size:small;

    } 
} 

.card-title {
    font-size: xx-large;
    margin-top: .1rem;
    margin-bottom: 2rem;
    @include card_text();
    @media screen and (max-width: 900px) {
        font-size:x-large;
        justify-self: center;
    } 
}
.card-img{
    object-fit: fill;
    margin-top: 1rem;
    border-radius: 2rem;
    width: 95%;
}

.card-info{
    margin-top: 1rem;
    font-size: x-large;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 1rem;
    span{
        @media screen and (max-width: 900px) {
            font-size:small;
    
        } 
    }
}

button{
    --webkit-appearance: none;
    --moz-appearance: none;
    .brutalistButton{
        @media screen and (max-width: 900px) {
            font-size: medium;
            padding: 0%;
            margin-top: 1rem;
        } 
    }
}
.brutalistButton {
    
    margin: 1% 1% 0% 0%;
    border-radius: 2rem;
    border-style: none;
    font-size: xx-large;
    margin: 1rem;
    padding: 0.5rem;
    padding-left: 40%;
    padding-right: 30%;
    cursor: pointer;
    box-shadow: -14px 19px 0px 0px $accent-three;
    color: $main-color;
    @media screen and (max-width: 900px) {
        font-size: medium;
        padding: 0%;
        margin-top: 1rem;
    } 
    
}
.brutalistText{
    padding-left: 4rem;
    padding-right: 4rem;
    @media screen and (max-width: 900px) {
        font-size: medium;
        font-weight: 900;
        padding-left: 5rem;
        padding-right: 5rem;
    } 
}

.card-story-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center
}

.brutalistButton:active {
    transform: translate(-12px, 12px);
    box-shadow: 0px 0px 0px 0px $accent-three;
}
.highlight-text-yellow-stroke{
    @include highlight-text-stroke($accent-one)
}
.highlight-text-red-stroke{
    @include highlight-text-stroke($accent-two)
}

.highlight-text-yellow{
    @include highlight-text($accent-one)
}

.highlight-text-red{
    @include highlight-text($accent-two)
}